<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

        <title>{{ title }}</title>
    </head>

    <body>
        <h1>{{ total_loss_title }}</h1>

        <table>
            <caption>Metrics</caption>
            <thead>
                <tr>
                    <th>Total loss</th>
                    <th>Loss mask</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div id="total_loss_figure"></div></td>
                    <td><div id="loss_mask_figure"></div></td>
                </tr>
            </tbody>
        </table>

    </body>

    <script>
        $("document").ready(function(){
            var socket = io.connect("http://" + document.domain + ":" + location.port);

            socket.on("connect", function(){
                console.log("Connected");
            });

            socket.on("loss_mask", function(msg){
                $("#loss_mask_figure").html("<img src='data:image/png;base64," + msg + "' />");
            });

            socket.on("total_loss", function(msg){
                $("#total_loss_figure").html('<img src="data:image/png;base64,' + msg + '" />');
            });
        });
    </script>
</html>